# Remix compiler artifacts
**/artifacts/
**/artifacts/**

# Remix plugin state folders
deps/
states/

# Debug info
*.dbg.json
*.tsbuildinfo

# Optional
.env
.env.local

.idea/
vscode/
node_modules/
package-lock.json

foundry/lib/
foundry/broadcast/
foundry/out/
foundry/cache/

slither-env/

temp.md
