# Remix compiler artifacts
**/artifacts/
**/artifacts/**

# Remix plugin state folders
deps/
states/

# Debug info
*.dbg.json
*.tsbuildinfo

# Optional
.env
.env.local

.idea/
vscode/
node_modules/
package-lock.json

foundry/lib/
foundry/broadcast/
foundry/out/
foundry/cache/
foundry/lcov.info
foundry/coverage_report/

slither-env/
abi/
subgraph/deprecate/
subgraph/A_deprecated/build
subgraph/A_deprecated/node_modules
subgraph/A_deprecated/tests
subgraph/A_deprecated/package-lock.json
subgraph/A_deprecated/.gitignore


*Result.md
*MetaInfo.md
temp.md
openzeppelin-relayer/

