[submodule "foundry/lib/forge-std"]
	path = foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry/lib/comet"]
	path = foundry/lib/comet
	url = https://github.com/compound-finance/comet
[submodule "foundry/lib/openzeppelin-contracts"]
	path = foundry/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
