# Remix compiler artifacts
**/artifacts/
**/artifacts/**

# Remix plugin state folders
deps/
states/

# Debug info
*.dbg.json
*.tsbuildinfo

# Optional
.env
.env.local

.idea/
vscode/
node_modules/
package-lock.json

foundry/lib/
foundry/broadcast/
foundry/out/
foundry/cache/

slither-env/
abi/
subgraph/vaultWtihBaseStrategy/build
subgraph/vaultWtihBaseStrategy/node_modules
subgraph/vaultWtihBaseStrategy/tests
subgraph/vaultWtihBaseStrategy/package-lock.json

subgraph/compound-v-3-strategy
subgraph/vault
subgraph/vaultWtihBaseStrategy


*MetaInfo.md
temp.md
openzeppelin-relayer/

