[profile.default]
src = "src"
test = "test"
out = "out"
libs = ["lib"]

fs_permissions = [{ access = "read-write", path = "./" }]

ignored_warnings_from = ["lib"]

[rpc_endpoints]
mainnet = "${MAINNET_RPC_URL}"
sepolia = "${SEPOLIA_RPC_URL}"
 
[etherscan]
sepolia = { key = "${ETHERSCAN_API_KEY}" }
